.notifications-container {
  position: fixed;
  top: 20px;
  right: 20px;
  left:20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 添加这一行来确保通知项靠右对齐 */
  gap: 3px;
  z-index:100;
}

.notification {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 13px;
  border-radius: 17px;
  color: rgb(173, 173, 173);
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.23);
  font-size: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 100;
  transition: opacity 1.7s ease, transform 1.7s ease, margin-top 1.7s ease; /* 添加 margin-top 过渡 */
  opacity: 1;
  transform: translateY(0);
  max-width: 100%;
  overflow: hidden; 
}

.notification.visible {
  opacity: 0.9;
  transform: translateX(0px);
}

.notification.hidden {
  opacity: 0;
  transform: translateX(20px);
  margin-top: -63.5px; /* 移除间隙 */
}

.notification.success {
  background: linear-gradient(135deg, rgba(105, 180, 174, 0.7), rgba(46, 119, 141, 0.7)); /* 渐变背景 */
}

.notification.error {
  background: linear-gradient(135deg, rgba(187, 67, 211, 0.5), rgba(81, 24, 114, 0.5)); /* 渐变背景 */
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: rgba(173, 173, 173, 0.7);
  transition: transform 0.37s ease-in-out, color 0.7s ease;
}

.close-button:hover {
  transform: scale(1.19);
  color: #e8afff;
}

.close-button svg {
  width: 21px;
  height: 21px;
}
@media (max-width: 769px) {

  .notifications-container {
    position: fixed;
    top: 20px;
    left:20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 添加这一行来确保通知项靠右对齐 */
    gap: 3px;
    z-index:100;
  }
  
  .notification.hidden {
    opacity: 0;
    transform: translateX(-20px);
    margin-top: -63.5px; /* 移除间隙 */
  }



}