html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  /* 确保没有默认滚动条 */
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.homeStyle {
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  /* 隐藏水平滚动条 */
  overflow-y: auto;

}

.homeStyleLeft {
  width: 50vw;
}

.leftContainerStyle {
  position: fixed;
  /* 固定位置，不随滚动条滚动 */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background: linear-gradient(to left, rgba(35, 20, 79, 0.8), rgba(3, 7, 18, 0.8));
  backdrop-filter: blur(3vw);
  color: #fff;
  min-height: 100vh;
  width: 50%;
  /* 确保宽度填充视口的左侧部分，根据实际布局调整 */
  left: 0;
  /* 与视口左侧对齐 */
  top: 0;
  /* 与视口顶部对齐 */
}

.rightContainerStyle {
  position: relative;
  top: 7vh;
  /* 从顶部开始 */
  left: 50%;
  /* 从屏幕中间到右侧 */
  width: 50%;
  /* 占据屏幕右半部分 */
  height: auto;
  /* 可能需要调整，确保占满整个视口高度 */
  padding: 20px;
  /* 内边距 */
  box-sizing: border-box;
  /* 边框和内边距包含在宽度内 */

}

.textGroupStyle {
  text-align: left;
  margin-bottom: 2.7rem;
}

.titleGroupStyle {
  font-size: 3.5rem;
  margin-bottom: 0;
  text-shadow: 0px 0px 0.9vh rgba(0, 0, 0, 1.9);
}

.SteamStyle {
  font-weight: 500;
  color: #cb9dff;
  text-shadow: 0px 0px 0.9vh rgba(0, 0, 0, 0.7);
}

.AIOStyle {
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0px 0px 0.9vh rgba(0, 0, 0, 0.7);
}

.textDesc {
  text-shadow: 0px 0px 0.5vh rgba(0, 0, 0, 0.9);
}

.inputButtonContainerStyle {
  display: flex;
  align-items: left;
  background: #121212;
  border-radius: 11px;
  border: 2px solid #4a4d54;
  overflow: hidden;
  margin-bottom: 1.3rem;
  width: 79%;
  height: 2.9rem;
}

.inputStyle {
  flex-grow: 1;
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: #121212;
  width: 30%;
}

.buttonStyle {
  padding: 10px 15px;
  border: none;
  background-color: #2c2242;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}

.GitHubStyle {
  display: flex;
  font-size: 0.77em;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}


.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projectImage {
  width: 100%;
  height: auto;
}

.projectInfo {
  padding: 10px;
  text-align: center;
}

.projectDate {
  font-size: 0.85em;
  color: #666;
}

.projectTitle {
  font-size: 1.2em;
  margin: 10px 0;
}

.projectDescription {
  font-size: 0.9em;
}

.projectLink {
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

/* Custom scrollbars for desktop */
@media (min-width: 769px) {

  /* 定义滚动条的宽度 */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* 定义滚动条的轨道部分 */
  ::-webkit-scrollbar-track {
    background: transparent;
    /* 轨道背景设置为透明 */
    backdrop-filter: blur(10px);
    /* 高斯模糊效果 */
    border-radius: 8px;
  }

  /* 定义滚动条的滑块部分 */
  ::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    /* 高斯模糊效果 */
  }

  /* 滑块在悬停时的样式 */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(105, 105, 105, 0.8);
  }
}

@media (max-width: 768px) {
  .homeStyle {
    flex-direction: column;
  }

  .homeStyleLeft {
    width: 100vw;
    height: 50vh;
  }

  .leftContainerStyle {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    background: linear-gradient(to left, rgba(35, 20, 79, 0.8), rgba(3, 7, 18, 0.8));
    backdrop-filter: blur(3vw);
    color: #fff;
    width: 100%;
    min-height: 50vh;
  }

  .temple {
    height: 50vh;
  }

  .rightContainerStyle {
    position: relative;
    top: 9vw;
    /* 从顶部开始 */
    left: 0%;
    /* 从屏幕中间到右侧 */
    width: 100vw;
    /* 占据屏幕右半部分 */
    /* 可能需要调整，确保占满整个视口高度 */
    margin-left: 0vw;
    margin-right: 0vw;
    padding: 2px;
    /* 内边距 */
    box-sizing: border-box;
    /* 边框和内边距包含在宽度内 */

  }

  .projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .inputButtonContainerStyle {
    display: flex;
    align-items: left;
    background: #121212;
    border-radius: 11px;
    border: 2px solid #4a4d54;
    overflow: hidden;
    margin-bottom: 1.3rem;
    width: 87%;
    height: 2.9rem;
  }

}